.wrap {
  position: relative;
  margin: 4em auto 10em;
  max-width: 960px;
  overscroll-behavior: contain;

  .headers {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }

  .tracks,
  .scroller {
    display: flex;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .scroller {
    overflow-x: hidden;
  }

  .tracks {
    overflow: auto;
    scroll-snap-type: x mandatory;
  }

  .scenes::-webkit-scrollbar,
  .scroller::-webkit-scrollbar {
    display: none;
  }

  .track {
    flex: 1 0 calc(22% + 2px);
    scroll-snap-align: start;
  }

  .track + .track {
    margin-left: -1px;
  }

  .heading {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: solid #fff;
    border-width: 0 1px;
    z-index: 1;
    background: #efefef;
    font-weight: 700;
  }

  .entry {
    border: 1px solid #ebebeb;
    border-top: 0;
    background: #fff;
    height: 8em;
    padding: 1em;
  }
}


@media (max-width: 767px) {
  .track {
    flex: 1 0 calc(50% + 7px);
  }
}
