section {
  text-align: center;
}

ngx-syncscroll {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drag-container {
  ngx-syncscroll {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .floss, .romanian {
      width: 70%;
      @media (max-width: 768px) {
        width: 90%;
      }

      img {
        height: 200px;
      }
    }
  }
}

.badges {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-flex-flow: row wrap;

  a {
    margin: 10px;
  }
}

.flex-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  .dragscroll {
    cursor: grab;
    cursor: -o-grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
      cursor: grabbing;
      cursor: -o-grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }

  .earth {
    width: 440px;
    height: 300px;
    overflow: auto;
  }

  .frame {
    margin: 15px;
    color: #aabbcc;
    overflow: auto;
    position: relative;
  }

  .goethe {
    float: left;
    padding: 5px;
    width: 300px;
    height: 300px;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #283849;
  }
}

.title {
  font-size: 26px;
  text-align: center;
}


.subtitle {
  margin: 20px;
  font-size: 24px;
  text-align: center;
}
